header {
    display: flex;
    justify-content: space-between;
    background-color: #34345f;
    border-bottom: 10px solid #010137;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #ffe3ed;
    font-size: 20px;
    font-family: "fira code", monospace, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #c60e4c;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #c60e4c;
    text-shadow: 4px 4px 0px black;
}